---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Rates',
	description: 'Rates for my services',
};
---

<Layout {seo}>
  <TextSection narrow>
    <p>1 hour: $130 </p>
    <p>30 minutes: $70</p>
  </TextSection>
</Layout>
